*{
    font-size: 24px;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
}
html{
    background-color: lightblue;
    display: table;
    margin: 24px auto;
}
body{
    border: 2px solid black;
    display: table-cell;
    vertical-align: middle;
    background-color: white;
}
div{
    padding-bottom: 24px;
}
ul{
    margin: 0;
}
.title{
    display: block;
    border-bottom: 2px solid black;
    font-size: 48px;
    margin: 0 auto;
    padding: 24px
}
p{
    padding: 24px;
    margin: 0;
}
img{
    display: block;
    margin: 15px auto;
}
